@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
}

::selection {
  background-color: #34d399;
  color: #0f172a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: #09090b;
}

html {
  scroll-behavior: smooth;
}
