::selection {
  background-color: #09090b;
  color: #0f172a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #34d399;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background-color: #09090b;
}

html {
  scroll-behavior: smooth;
}
